{% extends "product/base.html" %}
{% block title %} My Account {% endblock %}
{% block content %}
<div class="py-6 px-6">
        <h1 class="mb-4 text-xl">My account</h1>
        <p class="mb-2"><strong>Email: </strong>{{ request.user.email }}</p>
        <p class="mb-2">
                <strong>Team: </strong>{{ team.name }}
                {% if team.created_by == request.user %}
                <a href="{% url 'teams:edit' team.id %}">(Edit)</a>
                {% endif %}
        </p>
        <hr class="mb-4">
        <form class="inline-block" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="text-white bg-red-600 py-4 px-6 rounded-xl">Logout</button>
        </form>
</div>
{% endblock %}
{% extends "product/base.html" %}
{% block title %} Sign Up {% endblock %}
{% block content %}
<div class="bg-blue-200">
    <h1 class="text-black-400 pt-3 pb-3 text-center text-xl">Sign up</h1>
<div class="flex justify-center items-center">
<form action="." method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    {% if form.errors %}
        <div class="text-red" role="alert">
            Your Form Has Errors
            {% for field in form %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <button class="mt-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Sign Up
    </button>
</form>
</div>
</div>
{% endblock %}