<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>
    <body>
      <nav class="flex items-center justify-between bg-blue-500 p-6">
        <div class="text-white font-bold text-xl">Invoice App</div>
        <div class="space-x-4">
            {% if user.is_authenticated %}
          <form action="{% url 'userprofile:logout' %}" method="POST" class="inline">
            {% csrf_token %}
            <button type="submit" class="bg-white text-blue-500 px-4 py-2 rounded">Log out</button>
          </form>
          {% else %}
          <a href="{% url 'userprofile:login' %}" class="bg-white text-blue-500 px-4 py-2 rounded">Login</a>
          <a href="{% url 'userprofile:signup' %}" class="bg-white text-blue-500 px-4 py-2 rounded">Sign In</a>
          {% endif %}
        </div>
      </nav>
      <!-- Rest of your page content here -->
    </body>
</html>
