<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
<head>
    <title>InvoiceApp</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    {% tailwind_css %}
</head>

<body class="font-montserrat ">
<div class="flex min-h-screen 2xl:max-w-7xl 2xl:mx-auto 2xl:border-x-2 2xl:border-indigo-50 ">
    <!-- Sidebar -->
    <aside class="bg-white w-1/5 py-10 pl-10  min-w-min   border-r border-indigo-900/20 hidden md:block ">
        <div class=" font-bold text-2xl">
            <a href="{% url 'userprofile:dashboard' %}">InvoiceApp</a>
        </div>

        <!-- Menu -->
        <div class="mt-12 flex flex-col space-y-7 text-gray-500 font-medium">


            <a class=" flex items-center space-x-2 py-1  group hover:border-r-2 hover:border-r-indigo-700 hover:font-semibold "
               href="{% url 'invoice:list_invoice' %}">
                <svg class="h-5 w-5 group-hover:stroke-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path>

                </svg>
                <span>Invoices</span>
            </a>
            <a class=" flex items-center space-x-2 py-1  group hover:border-r-2 hover:border-r-indigo-700 hover:font-semibold "
               href="{% url 'product:list_product' %}">
                <svg class="h-5 w-5 group-hover:stroke-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 10h16M4 14h16M4 18h16"></path>
                    <span>Products</span>
                </svg>
            </a>
            <a class=" flex items-center space-x-2 py-1  font-semibold  border-r-2 border-r-indigo-700 pr-20 "
               href="{% url 'client:list_client' %}">
                <svg class="h-5 w-5 stroke-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"></path>

                </svg>
                <span>Clients</span>
            </a>
            <a class=" flex items-center space-x-2 py-1  group hover:border-r-2 hover:border-r-indigo-700 hover:font-semibold "
               href="{% url 'product:create_category' %}">
                <svg class="h-5 w-5 group-hover:stroke-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 14l6-6m-5.5.5h.01m4.99 5h.01M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16l3.5-2 3.5 2 3.5-2 3.5 2zM10 8.5a.5.5 0 11-1 0 .5.5 0 011 0zm5 5a.5.5 0 11-1 0 .5.5 0 011 0z"></path>

                </svg>
                <span>Add Categories</span>
            </a>
            <form action="{% url 'userprofile:logout' %}" method="POST"
                  class=" flex items-center space-x-2 py-1  group hover:border-r-2 hover:border-r-indigo-700 hover:font-semibold">
                {% csrf_token %}
                <svg class="h-5 w-5 group-hover:stroke-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>

                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                </svg>
                <span><button type="submit">Logout</button></span>
            </form>


        </div><!-- /Menu -->
    </aside><!-- /Sidebar -->

    {% block content %}
    <main class="bg-indigo-50/60 w-full py-10 px-3 sm:px-10">
        <!-- Heading -->
        <div class="text-center mb-8">
            <h1 class="text-4xl font-bold text-gray-800">Welcome to InvoiceApp Dashboard</h1>
            <p class="mt-2 text-lg text-gray-600">Manage all your Clients, Products, Categories, and Invoices from one
                place.</p>
        </div>

        <!-- Project Overview Section -->
        <section>
            <div class="mb-12">
                <h2 class="text-2xl font-semibold text-indigo-600 mb-4">Project Overview</h2>
                <p class="text-gray-700">The InvoiceApp is a comprehensive system designed to manage clients, products,
                    product categories, and invoices efficiently. Below is a detailed breakdown of each module:</p>
            </div>

            <!-- Clients Section -->
            <div class="mb-10">
                <h3 class="mt-4 text-xl font-semibold text-gray-800">Clients</h3>
                <p class="text-gray-600">The Clients app allows you to store and manage your clients' information,
                    including their names, addresses, contact details, and more. You can easily create client records.</p>
            </div>

            <!-- Products Section -->
            <div class="mb-10">
                <h3 class="mt-4 text-xl font-semibold text-gray-800">Products</h3>
                <p class="text-gray-600">The Products app is responsible for managing all the products your company
                    offers. Each product includes details like name, brand, reference, description, price, and
                    applicable taxes (TVA).</p>
            </div>

            <!-- Product Categories Section -->
            <div class="mb-10">
                <h3 class="mt-5 text-xl font-semibold text-gray-800">Product Categories</h3>
                <p class="text-gray-600">Product Categories help you organize products into different categories for
                    easier management and retrieval. You can create new categories or manage existing ones.</p>
            </div>

            <!-- Invoices Section -->
            <div class="mb-10">
                <h3 class="mt-5 text-xl font-semibold text-gray-800">Invoices</h3>
                <p class="text-gray-600">The Invoices app is the core feature of the InvoiceApp. It allows you to create
                    and manage invoices, assign them to clients, add products. You can view a list of
                    invoices and export them as needed.</p>
            </div>

        </section>
    </main>
    {% endblock %}
    {% block javascript %}
    {% endblock %}

</div>

</body>

</html>