{% extends "dashboard.html" %}
{% block content %}
<main class="bg-indigo-50/60 w-full py-10 px-3 sm:px-10">
    <section>
        <div class="p-8">
            <form action="{% url 'invoice:create_invoice' %}" method="post" class="space-y-4">
                {% csrf_token %}
                {% if form.errors %}
                <div class="text-red-500">
                    <ul>
                        {% for field in form %}
                        {% if field.errors %}
                        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <div class="mb-4">
                    {{ form.client.label_tag }}<br>
                    {{ form.client }}
                </div>
                <div class="mb-4">
                    {{ form.category.label_tag }}<br>
                    {{ form.category }}
                </div>
                <div class="mb-4">
                    {{ form.product.label_tag }}<br>
                    {{ form.product }}
                </div>

                <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Add Invoice
                </button>
            </form>
        </div>
    </section>
</main>
{% endblock %}

{% block javascript %}
<script>
    document.getElementById('category-select').addEventListener('change', function() {
        var categoryId = this.value;
        var productSelect = document.getElementById('product-select');
        var url = "{% url 'invoice:get_products_by_category' 0 %}".replace('0', categoryId);

        fetch(url)
            .then(response => response.json())
            .then(data => {
                productSelect.innerHTML = '';
                data.forEach(function(product) {
                    var option = document.createElement('option');
                    option.value = product.id;
                    option.text = product.name;
                    productSelect.add(option);
                });
            })
            .catch(error => console.error('Error fetching products:', error));
    });
</script>
{% endblock %}

